<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selection</title>
</head>
<body>
<h1>Selection expressions</h1>

<div th:object="${student}">
    <span th:text="*{fistName}"></span>
    <span th:text="*{lastName}"></span>
    <span th:text="*{age}"></span>

    <p th:text="${date}"></p>
    <p th:text="${#dates.formatISO(date)}"></p>

    <p th:text="${#dates.createToday()}"></p>

    <a href="https://www.baeldung.com/spring-thymeleaf-3-expressions"> Special Expressions 1 </a>
    <a href="https://www.thymeleaf.org/doc/articles/standarddialect5minutes.html"> Special Expressions 2 </a>
</div>
</body>
</html>